body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.content {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #444;
    border: none;
    color: white;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#bruteforce-result {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#bruteforce-result .decoded,
#bruteforce-result .decrypted {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#bruteforce-result .decoded pre,
#bruteforce-result .decrypted pre {
  margin: 5px 0;
}
